/* 쇼핑 페이지 스타일 */
.shopping-simple-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.shopping-message {
    text-align: center;
}

.shopping-message h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.shopping-message p {
    color: white;
    font-size: 18px;
}